<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.kyushu-u.ac.jp/iarch/archdsl/ArchDSL" 
       class = "jp.ac.kyushu_u.iarch.archdsl.archDSL.ArchDSLPackage"
       genModel = "model/generated/ArchDSL.genmodel" /> 
	
  </extension>



</plugin>
