$theme_hue: 230;
$theme_sat: 1;

$body_font: Georgia, serif;
$sub_font: "Helvetica Neue", Helvetica, Arial, sans-serif;

$accent_font: "Gill Sans", "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
$accent_font_weight: 600;

// body font
body {
    font-family: $body_font;
}

// define em / strong
div.page-content em {
    color: adjust-hue(hsl($theme_hue, 30% * $theme_sat, 55%), 30deg);
}

div.page-content strong {
    font-family: $sub_font;
}

// list marker
ul li {
    list-style-type: none;
    position: relative;
}

ul li::after {
    display: block;
    content: '';
    position: absolute;
    top: 0.65em;
    left: -0.75em;
    width: 5px;
    height: 5px;
    background-color: hsl($theme_hue, 0% * $theme_sat, 50%);
    border-style: none;
    border-radius: 100%;
}

// color header and footer
.site-header, .site-footer {
    font-family: $sub_font;
    background-color: hsl($theme_hue, 30% * $theme_sat, 92%);
    border-top: solid 2px hsl($theme_hue, 20% * $theme_sat, 50%);
}

.site-header a, a.site-title {
    font-family: $accent_font;
    font-weight: $accent_font_weight;
}

a.site-title {
    color: hsl($theme_hue, 20% * $theme_sat, 40%) !important;
}

// style table of contents
#markdown-toc {
    font-family: $sub_font;
    background-color: hsl($theme_hue, 0% * $theme_sat, 95%);
    border-radius: 4px;
    border: solid 1px hsl($theme_hue, 0% * $theme_sat, 85%);
    padding: 10px 30px;
    margin: 0 0;
    font-size: 80%;
    display: inline-block;
    // li ul {
    //     list-style-type: disc;
    // }
}

#markdown-toc:before {
    content: "Table of Contents";
    font-family: $sub_font;
    font-weight: 600;
    font-size: 125%;
    color: hsl($theme_hue, 0% * $theme_sat, 40%);
}

// style titles
$title_color: hsl($theme_hue, 30% * $theme_sat, 50%);
$title_color2: lighten($title_color, 5%);

h1, h2, h3, h4, h5, h6 {
    font-family: $accent_font;
    font-weight: $accent_font_weight;
}

h1 {
    color: $title_color;
    border-color: $title_color;
}

h2, h3, h4, h5, h6 {
    color: $title_color2;
    border-color: $title_color2;
}

h1 {
    border-bottom: 1px solid;
}

div.wrapper > h1:not(:first-of-type) {
    margin-top: 25px;
}

h2 {
    border-bottom: 1px dashed;
}

h1#page-title {
    border: none;
    // font-size: 200% * 0.75;
    // text-transform: uppercase;
    // font-weight: normal;
    // border-bottom: 3px double;
}

// highlight download link
nav.site-nav > div.trigger > a.page-link:last-child {
    background-color: hsl($theme_hue, 20% * $theme_sat, 40%);
    color: hsl(0, 0%, 100%);
    padding: 8px 16px;
    border-radius: 8px;
}

// code
$code_bg_color: hsl($theme_hue, 40% * $theme_sat, 95%);
$code_border_color: hsl($theme_hue, 20% * $theme_sat, 80%);

pre, code {
    border-color: $code_border_color;
    background-color: $code_bg_color;
}

.highlighter-rouge .highlight {
    background-color: $code_bg_color;
    line-height: 125%;
}

// image
img {
    display: block;
    margin: 20px auto;
}

// toppage image
.index-page {
    padding: 0;
}

$overview_stripe: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAD0lEQVQImWNgwARStBAAABpPAIPQzAGMAAAAAElFTkSuQmCC);
$overview_color_alpha: 0.85;
$overview_color: linear-gradient(
    hsla($theme_hue, 25% * $theme_sat, 25%, $overview_color_alpha),
    hsla($theme_hue, 25% * $theme_sat, 60%, $overview_color_alpha));
$overview_color_fallback: hsla($theme_hue, 25% * $theme_sat, 50%, $overview_color_alpha);
$overview_image: url("../images/ide_overview_2x.png");

.index-page #overview-img-wrapper {
    background: $overview_stripe, $overview_color_fallback, $overview_image;
    background: $overview_stripe, $overview_color, $overview_image;
    margin: 0 auto 10px;
    background-repeat: repeat, no-repeat, no-repeat;
    background-position: center, center, center;
}

.index-page img#overview-img {
    width: $content-width * 0.75;
    margin: 0 auto;
    padding: 20px 0 20px;
}
