// color of body
body {
    background-color: hsl($theme-color-hue, 30% * $theme-color-sat, 92%);
}

div.page-content {
    background-color: $background-color;
}

// color of header and footer
.site-header, .site-footer {
    font-family: $sub-font-family;
    background-color: hsl($theme-color-hue, 30% * $theme-color-sat, 92%);
    border-top: solid 2px hsl($theme-color-hue, 20% * $theme-color-sat, 50%);
}

.site-header a, a.site-title {
    font-family: $accent-font-family;
    font-weight: bold;
}

a.site-title {
    font-family: "PT Sans Caption", $accent-font-family;
    color: hsl($theme-color-hue, 20% * $theme-color-sat, 40%) !important;
}

// header link
nav.site-nav > div.trigger > a.page-link {
  background-color: hsl($theme-color-hue, 20% * $theme-color-sat, 80%);
  padding: 4px 8px;
  border-radius: 4px;
  margin: auto 4px;
  font-weight: normal;
}

// highlight download link
nav.site-nav > div.trigger > a.page-link:last-child {
    background-color: hsl($theme-color-hue, 20% * $theme-color-sat, 40%);
    color: hsl(0, 0%, 100%);
}

// index page banner
.index-page-content {
    padding-top: 10px;
}

$banner-stripe: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAD0lEQVQImWNgwARStBAAABpPAIPQzAGMAAAAAElFTkSuQmCC);
$banner-color-alpha: 0.85;
$overview_color: linear-gradient(
    hsla($theme-color-hue, 25% * $theme-color-sat, 25%, $banner-color-alpha),
    hsla($theme-color-hue, 25% * $theme-color-sat, 60%, $banner-color-alpha));
$banner-color-fallback: hsla($theme-color-hue, 25% * $theme-color-sat, 50%, $banner-color-alpha);
$banner-image: url("../images/ide_overview_2x.png");

div#banner-wrapper {
    background: $banner-stripe, $banner-color-fallback, $banner-image;
    background: $banner-stripe, $overview_color, $banner-image;
    margin: 0 auto 0px;
    background-repeat: repeat, no-repeat, no-repeat;
    background-position: center, center, center;
}

img#banner {
    display: block;
    max-width: $content-width* 0.75;
    margin: 0 auto;
    padding: 20px 20px 20px;
}

// table of contents
#markdown-toc {
    font-family: $sub-font-family;
    background-color: hsl($theme-color-hue, 40% * $theme-color-sat, 95%);
    border-radius: 4px;
    border: solid 1px hsl($theme-color-hue, 20% * $theme-color-sat, 85%);
    padding: 10px 30px;
    margin: 0 0;
    font-size: 85%;
    line-height: 125%;
    display: inline-block;
    // li ul {
    //     list-style-type: disc;
    // }
}

#markdown-toc:before {
    content: "Table of Contents";
    display: block;
    margin-bottom: 5px;
    font-family: $sub-font-family;
    font-weight: 600;
    font-size: 125%;
    color: hsl($theme-color-hue, 0% * $theme-color-sat, 40%);
}

div.page-content {
    // define em / strong
    em {
        color: hsl($sub-color-hue, 30% * $theme-color-sat, 55%);
    }

    strong {
        font-family: $sub-font-family;
    }

    // list marker
    ul li {
        list-style-type: none;
        position: relative;
    }

    ul li::after {
        display: block;
        content: '';
        position: absolute;
        top: 0.65em;
        left: -0.75em;
        width: 5px;
        height: 5px;
        background-color: hsl($theme-color-hue, 0% * $theme-color-sat, 50%);
        border-style: none;
        border-radius: 100%;
    }

    ul#markdown-toc li::after, #markdown-toc ul li::after {
        top: 0.35em;
    }

    // titles
    $title-color: hsl($theme-color-hue, 30% * $theme-color-sat, 50%);

    h1, h2, h3, h4, h5, h6 {
        margin-top: 30px;
        margin-bottom: 10px;
        color: $title-color;
        border-color: $title-color;
        font-family: $accent-font-family;
    }

    h1 {
        border-bottom: 1px solid;
    }

    div.wrapper > h1:first-of-type {
        margin-top: 0px;
    }

    h2 {
        border-bottom: 1px dashed;
    }

    h1 + h2 {
        margin-top: 10px;
    }

    h1#page-title {
        border: none;
    }

    // horizontal line
    hr {
        border: none;
        border-color: $title-color;
        border-bottom: 2px dotted $title-color;
        margin: 40px auto 40px;
    }

    // table
    table {
        margin: 15px 0px;
        width: 100%;
    }

    table, td, th {
        border: 1px hsl($theme-color-hue, 20% * $theme-color-sat, 70%) solid;
        border-collapse: collapse;
        padding: 4px 8px;
    }

    thead {
        background-color: hsl($theme-color-hue, 40% * $theme-color-sat, 95%);
    }

    // note
    .note {
        font-size: 80%;
        color: hsl(0, 0%, 20%);
        margin: 15px 0px;
        padding: 4px 8px;
        border: 1px hsl($sub-color-hue, 20% * $theme-color-sat, 70%) dashed;
        background-color: hsl($sub-color-hue, 40% * $theme-color-sat, 95%);

        p {
            margin-bottom: 0px;
        }
    }

    .note:before {
        content: "Note:";
        display: block;
        margin-bottom: 0px;
        font-family: $sub-font-family;
        font-weight: 600;
        font-size: 100%;
        color: hsl($sub-color-hue, 0% * $theme-color-sat, 40%);
    }

    // code
    $code-bg-color: hsl($theme-color-hue, 0% * $theme-color-sat, 95%);
    $code-border-color: hsl($theme-color-hue, 0% * $theme-color-sat, 80%);

    pre, code {
        border-color: $code-border-color;
        background-color: $code-bg-color;
        font-family: $mono-font-family;
        font-size: 90%;
        -moz-tab-size: 4;
        tab-size: 4;
    }

    .highlighter-rouge .highlight {
        background-color: $code-bg-color;
        line-height: 125%;
    }

    // image
    img {
        display: block;
        margin: 20px auto;
    }

    // video
    .video-wrapper {
        position: relative;
        float: none;
        clear: both;
        width: 100%;
        padding-bottom: percentage(9 / 16);
        padding-top: 0px;
        height: 0;
    }

    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

    .tutorial-video {
        background-color: hsl($sub-color-hue, 20% * $theme-color-sat, 90%);
        padding: 8px 15px 15px;
        margin: 20px auto;
        text-align: center;
        // border-radius: 4px;
    }

    .tutorial-video:before {
        content: 'Tutorial Video';
        display: block;
        margin-bottom: 8px;
        font-family: $sub-font-family;
        font-size: 100%;
        font-weight: bold;
        padding: 0px 20px;
        border-bottom: dashed;
        border-width: 1px;
        border-color: hsl($sub-color-hue, 20% * $theme-color-sat, 20%);
        color: hsl($sub-color-hue, 20% * $theme-color-sat, 40%);
    }

    .introduction-video {
        background-color: hsl($sub-color-hue, 20% * $theme-color-sat, 90%);
        padding: 8px 15px 15px;
        margin: 20px auto;
        text-align: center;
        // border-radius: 4px;
    }

    .introduction-video:before {
        content: 'Introduction Video';
        display: block;
        margin-bottom: 8px;
        font-family: $sub-font-family;
        font-size: 100%;
        font-weight: bold;
        padding: 0px 20px;
        border-bottom: dashed;
        border-width: 1px;
        border-color: hsl($sub-color-hue, 20% * $theme-color-sat, 20%);
        color: hsl($sub-color-hue, 20% * $theme-color-sat, 40%);
    }
}
